<div class="top-page-wrapper">
  <%= render partial: 'shared/side_section' %>

  <div class="main-content-wrapper">
    <div class="container">
      <h3 class="new-file-title">ユーザー一覧</h3>

      <% @users.each do |user| %>
        <div class="user-names">
          <%= image_tag user.profile.avatar.thumb40.url, class: 'icon', alt: 'プロフィール画像' %>

          <%= link_to user.profile.name, user_profile_path(user.id), class: 'user-name' %><br >
        </div>
      <% end %>
    </div>
  </div>
</div>
