<h1>Profiles#index</h1>

<% @users.each do |user| %>
  <div class="user-names">
    <%= image_tag user.profile.avatar.thumb40.url, class: 'icon', alt: 'プロフィール画像' %>

    <%= link_to user.profile.name, user_profile_path(user.id), class: 'user-name' %><br >
  </div>
<% end %>
