header {
  margin: 0 auto;
  background-color: #C8ECF6;
  height: 60px;

  nav {
    padding: 10px 10px;
  }

  .container {
    display: flex;
    align-items: center;

    .header-logo {
      margin-right: auto;
      align-self: flex-end;
    }

    .header-menu {
      align-self: flex-end;

      ul {
        list-style: none;
        li {
          display: inline-block;
          padding: 0 10px;
        }
      }

      .btn-signup {
        color: #fff;
        background-color: #0054A6;
        &:hover {
          color: #fff;
          background: #0054A6;
          opacity: 0.85;
        }
      }

      .btn-login {
        color: #0054A6;
        background-color: #fff;
        border: 2px solid;
        &:hover {
          color: #0054A6;
          background: #fff;
          opacity: 0.85;
        }
      }
    }
  }

}
