<h1>プレイリストを作成</h1>

<%# 新規プレイリストを作成 %>
<%= form_with model: @playlist, url: new_playlist_path do |f| %>
  <%= f.label :title, "タイトル" %><br >
  <%= f.text_field :title %><br >

  <%= f.submit "プレイリストを作成" %>
<% end %>
